Doctype html

  html
     head
        
         title Helsingin kaupungin viikon tapahtumat
     body
        h1#myHeading Helsingin kaupungin viikon tapahtumat
        p.firstParagraph Tämä webbisovellus näyttää sinulle Helsingin kaupungin tapahtumat seuraavalta seitsemältä vuorokaudelta, tiedot haetaan Helsingin kaupungin API:sta.


        div. #{data}
        p  #{data}